<!DOCTYPE html>
<html lang="en">
	<head><base href="">
		<link rel="canonical" href="https://preview.keenthemes.com/ceres-html-free" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<link href="~/css/site.css" rel="stylesheet" type="text/css" />
	</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
