@{
    Layout = "_AccountLayout.cshtml";
}
<div class="card w-400px mt-20" style="margin-left:auto; margin-right:auto; margin-top:auto;margin-bottom:auto;">
    
    <div class="mt-5 mb-10 me-10 mx-10" > 
        <form>
            <div class="mt-5">
                <label class="required form-label">Firstname</label>
                <input type="text" class="form-control" />
            </div>

            <div class="mt-5">
                <label class="required form-label">Lastname</label>
                <input type="text" class="form-control" />
            </div>

            <div class="mt-5">
                <label class="required form-label">Email</label>
                <input type="text" class="form-control" />
            </div>

            <div class="mt-5 mb-5">
                <input type="submit" class="btn btn-light-primary" value="register" />
                <input type="button" class="btn btn-light-dark" value="cencel" />
            </div>
        </form>
    </div>
   
</div>