@model GoodRead.Service.DTOs.Accounts.AccountRegisterDto;
@{
    Layout = "_AccountLayout.cshtml";
}
<div class="card w-400px mt-20" style="margin-left:auto; margin-right:auto; margin-top:auto;margin-bottom:auto;">
    <div class="mt-5 mb-10 me-10 mx-10" > 
        <form asp-controller="accounts" asp-action="register" method="post">
            <div class="mt-5">
                    <label class="required form-label" class="text-primary">Firstname</label>
                    <input type="text" asp-for="FirstName" class="form-control" placeholder="Your name"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>    

            <div class="opacity-state-75">
                <div class="mt-5">
                    <label class="required form-label">Lastname</label>
                    <input type="text" asp-for="LastName" class="form-control" placeholder="Your surname"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="opacity-state-75">
                <div class="mt-5">
                    <label class="required form-label">Email</label>
                    <input type="email" asp-for="Email" class="form-control" placeholder="Your email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="opacity-state-75">
                <div class="mt-5">
                    <label class="required form-label">Password</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="mt-5 mb-3">
                <input type="submit" class="btn btn-primary w-100" value="Sign up" />
                <div class="mt-5 mb-5" style="text-align: center;">
                    <div class="or-line"><span class="or-text">or</span></div>
                </div>

                <style>
                    .or-line {
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }

                        .or-line:before, .or-line:after {
                            content: "";
                            flex: 1;
                            border-bottom: 1px solid #ddd;
                        }

                    .or-text {
                        margin: 0 10px;
                        color: #aaa;
                        font-size: 14px;
                    }
                </style>

            </div>
            <div class="mt-5 mb-3">
                <a class="btn btn-primary" style="width:100%;" asp-controller="accounts" asp-action="login">
                    Sign in
                </a>
            </div>
        </form>
    </div>
    </div>
   
</div>