@model List<GoodRead.Domain.Entities.Books.Book>
<div class="row g-10 " style="display: flex; flex-direction:row; justify-content: center">
    @{
        foreach (var book in Model)
        {
            <div class="col-lg-4 card mb-5 me-5 w-300px">
                <div class="card mb-5">
                    <div class="mt-5">
                        <img src="~/@book.ImagePath" class="w-100 card-rounded" />
                    </div>
                    <div class="mt-5">
                        <h3>@book.Title</h3>
                    </div>
                    <div class="mt-2 stars">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                    </div>

                    <div class="card">
                        <px>@book.Price so'm</px>
                    </div>
                </div>
            </div>
        }
    }
</div>